*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    display:block;
    max-width:100%;
    height:auto;
}
span{
    white-space: nowrap;
}

img,button,textarea{
    font: inherit;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}
.backimage{
    background-image: url('hostel_images/IMG_20230517_105920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    
}





#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Put the video behind other content */
}

.content {
    position: relative; /* Ensure content appears above the video */
    z-index: 1; /* Place content above the video */
    text-align: center;
    padding: 100px;
    color: #fff;
    font-size: 24px;
    
}

.container{
    display: flex;
    flex-flow: column;
}





header {

    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    width:100%;
    height:auto;
   
}



/* Apply styles to the header */
.shrink-header {
    position: sticky;
    top: 0;
    background-color:rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease; 
    display: flex;
    flex-grow:1;
    justify-content:space-evenly;
    align-items:flex-start;
    
}



.img__header{
    width:clamp(7.5%,1.2vh,20%);
    height:auto;
    z-index: 1;
    filter:brightness(70%);
    filter:contrast(1000%) ;
    position: absolute;
    left: 30px;
    top:1px;

}

/*nav*/


.header__nav{
    background-color:rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    font-weight: bolder;
    font-size: 1.8em;
    margin-bottom: 1.5rem;
    
}
.header__ul{
    
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

}
nav a{
    text-decoration: none;
    color:whitesmoke;
    margin:auto;
    width:80%;
}

a:hover,a:focus{
    
    transition:0.5s;
    text-shadow: 0 0 4px black;
}
a:hover{
    font-size: 1.5em;
    transition:0.6s;
    transition-delay: 0.2s;
}
    




  



/*form coding*/


.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 200px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 200px;
    max-height:900px;
    margin-top: 1rem; 
     
}

label, select {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
}

button {
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffab00;
}

#additional-details {
    display: none;
}

/*styling footer*/

footer{
    position:fixed;
    bottom:0;
    color: white;
    
  }
  .block{
    background-color: rgba(0, 0, 0, 0.5);
   
    
    display: flex;
    padding:1rem;
    justify-content: space-evenly;
}
.footer_info p:first-child::before{
    content: url(hostel_images/person_pin_circle_FILL0_wght400_GRAD0_opsz24.svg);
    filter:brightness(0) ;
}    
.footer_info p:last-child::before{
    content: url(hostel_images/call_FILL0_wght400_GRAD0_opsz24.svg);
}

.footer_info p{
    font-size: 18px;
}

.footer_about h1{
    font-weight: bold;
    text-shadow: var(--SHADOW-COLOR);
}
.footer_about p{
    font-size: 18px;

}